<footer class="site-footer">

  <p><a href="https://twitter.com/grysvn">twitter</a> &#8226;
     <a href="https://www.instagram.com/grysvn/">instagram</a> &#8226;
     <a href="https://github.com/grysvn">github</a></br>
  &copy matt gray 2016</p>

  <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-35916225-1','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</footer>
