<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div id="body" class="row">
			<!-- BODY -->

			<div id="content" class="col s10">
				{{ content }}
			</div>

			<!-- NAVBAR -->

			<div id="navbar-container" class="col s2">
				<div id="navbar" class="pinned">
					<a href="{{ site.url }}"><img class="headimg" src={{ "/img/head.png" | prepend: site.baseurl }} /></u>
					<!-- margin left to account for ULs having a 20px margin in general -->
					<ul style="list-style-type: none; margin-left: 0px;">
						{% for page in site.pages %}
							{% if page.title %}
								<li style="list-style-type: none;"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
							{% endif %}
						{% endfor %}
						<li style="list-style-type: none;"><a href="{{ site.baseurl }}/assets/resume.pdf">resume</a></li>
					</ul>
				</div>
			</div>
		<hr/>
		</div>
		{% include footer.html %}
	</body>
</html>
