<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div id="body" class="row">
			<div id="content" class="col s9">
				{{ content }}
			</div>
			<div id="navbar" class="col s3">
				<a href="{{ site.url }}"><img class="headimg" src={{ "/img/head.png" | prepend: site.baseurl }} /></u>
				<!-- margin left to account for ULs having a 20px margin in general -->
				<ul style="list-style-type: none; margin-left: 0px;">
					{% for page in site.pages %}
						{% if page.title %}
							<li style="list-style-type: none;"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
					<li style="list-style-type: none;"><a href="{{ site.baseurl }}/assets/resume.pdf">resume</a></li>
				</ul>
			</div>
		</div>
		<hr/>
		{% include footer.html %}
	</body>
</html>
